@import '../variables';

.categories {
  ul {
    display: flex;
    
    @media (max-width: 1400px) {
      padding: 13px 10px;
    }

    @media (max-width: 800px) {
      padding: 5px 5px;
    }
    
    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin: 10px 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
