.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.backBtn {
  width: 10em;
  height: 3em;
  margin-bottom: 10px;
  border: none;
  background: #e3a6f8;
  font-size: medium;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: #c78dfd;
  }

  &:active {
    background: #c78dfd;
  }
}